@use "./assets/font/iconfont.scss";
@import "miniprogram_npm/@vant/weapp/common/index.wxss";

page {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif;
  background-color: #f7f8fa !important;
}

page {
  --radio-size: 24px;
}

.van-tabbar {
  --tabbar-height: 120rpx;
}

.van-grid {
  // --grid-item-text-color: #000;
  --grid-item-text-color: #5c5858;
}

// 封装组件
.van-nav-bar {
  .van-nav-bar__left {
    left: 3px !important;
    font-size: 22px !important;
    color: #000000 !important;
  }

  .van-nav-bar__title {
    font-size: 13px !important;
    color: #000000 !important;
  }
}

.card {
  padding: global.$small-space;
  margin-bottom: global.$small-space;
  background-color: #fff;

  .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: global.$small-space 0;
  }

  .card-body {
    line-height: 2;
  }
}

// 封装组件
.info {
  .info-item {
    display: flex;
    font-size: 32rpx;

    .info-item_label {
      width: 160rpx;
      color: #5c5858;

      &::after {
        content: "：";
      }
    }

    .info-item_value {
      flex: 1;
    }

    .info-item_btn {
      color: #2f85da;
    }

    .info-item_right-icon {
      margin-left: global.$mini-space;
    }
  }
}

// 封装组件
.timeline {
  display: flex;
  flex-direction: column;
  padding: 10rpx global.$large-space 0;
  background-color: #fff;
  overflow: hidden;

  &-item {
    display: flex;
    position: relative;

    &_left {
      height: 100%;
      position: absolute;
      top: 16rpx;

      .circle {
        width: 16rpx;
        height: 16rpx;
        border-radius: 50%;
        background-color: #666;
      }

      .line {
        width: 2rpx;
        height: 100%;
        margin: auto;
        background-color: #ccc;
      }
    }

    &_right {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: global.$large-space;
      padding-bottom: global.$large-space;

      text {
        line-height: 48rpx;
      }
    }

    &:last-child .line {
      height: 0;
    }
  }
}

.scroll-view {
  flex: 1;
  overflow: auto;
}

.cell-title {
  margin-right: 12px;
}

.upload-box {
  display: flex;

  .van-uploader__upload {
    margin: 0 !important;
  }
}

.operate-btn {
  padding: global.$large-space global.$medium-space;
}
