/**app.wxss**/
@import "./assets/font/iconfont.scss";

page {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif;
  background-color: #f7f8fa !important;
}
page {
  --radio-size: 24px;
}
.van-tabbar {
  --tabbar-height: 120rpx;
}
.cell-title {
  margin-right: 12px;
}

a {
  color: #3e74ec;
}
.upload-box {
  display: flex;
  .van-uploader__upload {
    margin: 0 !important;
  }
}
.save-btn {
  margin: 40rpx 20%;
}
