.title {
  display: flex;
  align-items: center;
  gap: global.$gutter-12;
  > text {
    font-size: global.$title-size;
    font-weight: 600;
  }
}
.forum {
  float: right;
}

.icon-position {
  font-size: global.$title-size;
  margin-left: global.$margin-25;
}
.favorite {
  display: flex;
  gap: global.$gutter-8;
}

.tab-content {
  padding: global.$gutter-12;
  background-color: global.$bg-white;
}
