.picker-toolbar {
  height: 90rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_cancel,
  &_confirm {
    padding: 0 16rpx;
  }
  &_cancel {
    color: #969799;
  }
  &_confirm {
    color: #576b95;
  }
}

.picker-content {
  display: flex;
  align-items: center;
  margin: 30rpx 0;
  &_input {
    text-align: center;
  }
  &_separator {
    margin: 0 30rpx;
  }
}
