/* pages/plan/detail/detail.wxss */
.cell-row {
  padding: global.$small-space;
  display: flex;
  justify-content: space-between;
}
.add-btn {
  padding: global.$large-space 0;
  text-align: center;
  background-color: #fff;
}
