.title {
  display: flex;
  align-items: center;
  gap: global.$gutter-12;
  > text {
    font-size: global.$title-size;
    font-weight: 600;
  }
}
.favorite {
  float: right;
  display: flex;
  gap: global.$gutter-8;
}

.tab-content {
  padding: 0 global.$padding-20;
  background-color: global.$bg-white;
}
