.container {
  height: calc(100vh - #{global.$tabbar-height} - env(safe-area-inset-bottom));
  overflow: auto;
}

.title {
  display: flex;
  align-items: center;
  gap: global.$gutter-12;
  > text {
    font-size: global.$title-size;
    font-weight: 600;
  }
}
.favorite {
  float: right;
  display: flex;
  gap: global.$gutter-8;
}

.tab-content {
  padding: global.$padding-20;
}
