.title {
  display: flex;
  align-items: center;
  gap: global.$small-space;
  > text {
    font-size: global.$title-size;
    font-weight: 600;
  }
}
.favorite {
  float: right;
  display: flex;
  gap: global.$mini-space;
}

.tab-content {
  padding: global.$large-space;
}
