@font-face {
  font-family: 'iconfont';  /* Project id 4596910 */
  src: url('//at.alicdn.com/t/c/font_4596910_a0rgmhmqyrj.woff2?t=1719482212003') format('woff2'),
       url('//at.alicdn.com/t/c/font_4596910_a0rgmhmqyrj.woff?t=1719482212003') format('woff'),
       url('//at.alicdn.com/t/c/font_4596910_a0rgmhmqyrj.ttf?t=1719482212003') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-position:before {
  content: "\e600";
}

.icon-mine:before {
  content: "\e632";
}

.icon-home-o:before {
  content: "\e6a7";
}

