.container {
  height: calc(100vh - #{global.$tabbar-height} - env(safe-area-inset-bottom));
  overflow: auto;
}

.title {
  font-size: global.$large-size;
  font-weight: 600;
  padding-left: global.$medium-space;
  margin: global.$medium-space 0;
}

.list {
  padding: global.$medium-space;
  padding-top: 0;
  .item {
    display: flex;
    position: relative;
    .item-tag {
      position: absolute;
      left: 8rpx;
      top: 8rpx;
    }
    .item-img {
      width: 260rpx;
      height: 200rpx;
    }
    .item-info {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: global.$small-space;
      background-color: global.$bg-white;
    }
    & + .item {
      margin-top: global.$medium-space;
    }
  }
}
